<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%_ if(meta.title) { _%>
<title><%= meta.title%></title>
<%_ }else{ _%>
<title>サイトタイトル</title>
<%_ } _%>
<meta name="description" content="<%= meta.description %>" />

<meta property="og:type" content="website" />
<meta property="og:title" content="<%= meta.title%>" />
<meta property="og:description" content="<%= meta.description %>" />
<%_ if(meta.url) { _%>
<meta property="og:url" content="https://xxxx.com/<%= meta.url %>" />
<%_ }else{ _%>
<meta property="og:url" content="https://xxxx.com/" />
<%_ } _%>
<%_ if(meta.ogp) { _%>
<!-- <meta property="og:image" content="https://xxxx.com/asset/img/<%= meta.ogp %>" /> -->
<meta property="og:image" content="https://xxxx.com/wordpress/wp-content/themes/edu_style/asset/img/<%= meta.ogp %>" />
<%_ }else{ _%>
<!-- <meta property="og:image" content="https://xxxx.com/asset/img/ogp.webp" /> -->
<meta property="og:image" content="https://xxxx.com/wordpress/wp-content/themes/sample/asset/img/ogp.webp" />
<%_ } _%>
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="xxxxxxxx" />

<!-- <link rel="stylesheet" href="<%= path%>asset/css/style.css" /> -->
<link rel="stylesheet" href="<%= path%>wordpress/wp-content/themes/sample/asset/css/style.css" />
<!-- <link rel="icon" type="image/x-icon" href="<%= path%>asset/img/favicon.ico" /> -->
<link rel="icon" type="image/x-icon" href="<%= path%>wordpress/wp-content/themes/sample/asset/img/favicon.ico" />